.wrap {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.wrap .inner {
  border: 1px solid #ff0000;
  background-color: pink;
}
