.a {
  a: #80ff00;
  a: #80cc33;
  a: #808080;
}
.b {
  b: #b3f075;
  b: #4d8a0f;
}
.c {
  c: rgba(128, 230, 25, 0.7);
  c: rgba(128, 230, 25, 0.3);
}
.d {
  d: rgba(128, 230, 25, 0.2);
}
.e {
  e: #19e619;
}
.f {
  f: #80e619;
}
.g {
  g: #a1e619;
}
