<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <button v-on:click="add">添加数据</button>
    <button v-on:click="del">删除数据</button>
    
	<!-- 使用1   -->
    <ul>
        <li v-for="item in arr">{{item+'task'}}</li>
    </ul>
	
    <!-- 使用2   -->
    <ul>
		<!-- 前面是指value  后面是index -->
        <li v-for="(item,index) in obj">{{index}}--{{item.name}}-----{{item}}</li>
    </ul>
</div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            arr: [1, 2, 3, 4, 5],
            show: false,
            obj:[
                {name:"jack"},
                {name:"toms"}
            ]
        },
        methods: {
            add: function () {
                this.obj.push({name:"sunt"})
            },
            del:function () {
                this.obj.shift()
            }
        }
    })
</script>